
= f.label :name
= f.text_field :name

= f.label :year_made
= f.date_field :year_made

= f.label :price
= f.text_field :price

= f.label :description
= f.text_area :description

= f.label :cool_factor
= f.text_field :cool_factor

= f.submit "Add"